body {
    background-color: black;
    color: aliceblue;
}

header {
    display: flex;
    align-items: center;
    justify-content: center; 
}

h1{
    font-family: "Handjet", serif;
    font-size: 55px;
    letter-spacing: 1px;
}

.button-container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

/* Button styles */
.button-container .button {
    padding: 6px 16px;
    font-size: 25px;
    font-family: "Source Code Pro", monospace;
    cursor: pointer;
    border-color: white;
    border-radius: 5px;
    background: aliceblue;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-family: "Lekton", sans-serif;
}

/* Hover effect for the button */
.button-container .button:hover {
    background: rgb(210, 251, 222);
    transform: scale(1.1);
}

#clearGallery {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    padding: 6px 17px;
    font-size: 23px;
    background: aliceblue;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    font-family: "Lekton", sans-serif;
    /* transition: background 0.3s ease, transform 0.2s ease; */
    
}

/* Hover effect */
#clearGallery:hover {
    background: rgb(249, 191, 186);
    transform: scale(1.05);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Centers them horizontally */
    overflow-y: auto; /* Enables vertical scrolling */
    gap: 10px;
    padding: 20px;
    font-family: "Lekton", sans-serif;
}
.gallery img {
    max-height: 150px;
    width: auto;
    border: .5px solid #333;
    border-radius: 4px;
    
    padding: 4px;
}


/* please work */